$tpDatepickerBrandColor: #ff5a5f;
$tpDatepickerSecondColor: #ff5a5f;
$tpDatepickerHolidaysColor: #555555;
$tpDatepickerBorder: none;
$tpDatepickerBoxShadow: 0px 18px 40px -10px rgba(0, 0, 0, 0.45);
$tpDatepickerBorderActive: 2px solid #fdd835;
