$tpDatepickerBrandColor: #ff8e00 !default;
$tpDatepickerSecondColor: #78b935 !default;
$tpDatepickerBackgroundColor: #fff !default;
$tpDatepickerHolidaysColor: #f4511e !default;
$tpDatepickerDisabledColor: #C0C0C0 !default;
$tpDatepickerRangeColor: #f5f5f5 !default;
$tpDatepickerBorderActive: 1px solid $tpDatepickerBrandColor !default;
$tpDatepickerNonContrastColor: #eee !default;
$tpDatepickerPrevDatesVisibility: hidden !default;
$tpDatepickerNextDatesDisplay: none !default;
$tpDatepickerBorderWidth: 3px !default;
$tpDatepickerBorder: $tpDatepickerBorderWidth solid $tpDatepickerBrandColor !default;
$tpDatepickerBoxShadow: none !default;
