.tp-datepicker.tp-datepicker-range,
.tp-datepicker.tp-datepicker-range-legend {
  .tp-datepicker-table {
    .tp-datepicker-range {
      div{
        background-color: $tpDatepickerRangeColor;
      }
    }

    .tp-datepicker-start-sausage,
    .tp-datepicker-end-sausage {
      position: relative;

      div {
        background-size: 100%;
        color: $tpDatepickerBackgroundColor;
        &:before {
          position: absolute;
          content: '';
          height: 24px;
          width: 15%;
          top: -1px;
          background-color: $tpDatepickerBackgroundColor;
        }
      }
    }

    .tp-datepicker-start-sausage {
      &--invisible {
        div {
          font-weight: bold;
          color: $tpDatepickerBrandColor;
        }
      }

      div {
        @extend .tp-datepicker-icon.tp-datepicker-icon-arrow_from;
        background-position: left;

        &:before {
          left: -1px;
        }
      }
    }

    .tp-datepicker-end-sausage {
      &--invisible {
        div {
          font-weight: bold;
          color: $tpDatepickerSecondColor;
        }
      }

      div {
        @extend .tp-datepicker-icon.tp-datepicker-icon-arrow_to;
        background-position: right;

        &:before {
          right: -1px;
        }
      }
    }
  }

  .tp-datepicker-legend {
    position: absolute;
    bottom: 11px;
    right: 5px;
    z-index: $tpDatepickerZIndex + 1;
    font-size: 12px;
    padding: 5px 5px 5px 25px;
    color: $tpDatepickerSecondColor;
    background-color: $tpDatepickerBackgroundColor;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:before {
      background-size: 100%;
      position: absolute;
      left: 5px;
      color: $tpDatepickerBackgroundColor;
      content: '';
      height: 13px;
      width: 15px;
    }
  }

  .tp-datepicker-legend--end-date {
    &:before {
      @extend .tp-datepicker-icon.tp-datepicker-icon-arrow_to;
    }
  }

  .tp-datepicker-legend--start-date {
    color: $tpDatepickerBrandColor;

    &:before {
      @extend .tp-datepicker-icon.tp-datepicker-icon-arrow_from;
    }
  }
}
