.tp-datepicker-icon {
  background-repeat: no-repeat;

  &.tp-datepicker-icon-arrow_from {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D'1.2'%20baseProfile%3D'tiny'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2026%2022'%3E%3Cpath%20fill%3D'%23" + str-slice(ie-hex-str($tpDatepickerBrandColor), 4) + "'%20d%3D'M21.7%2022H0V0h21.7L26%2011z'%2F%3E%3C%2Fsvg%3E");
  }

  &.tp-datepicker-icon-arrow_to {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D'1.2'%20baseProfile%3D'tiny'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2026%2022'%3E%3Cpath%20fill%3D'%23" + str-slice(ie-hex-str($tpDatepickerSecondColor), 4) + "'%20d%3D'M4.3%2022H26V0H4.3L0%2011z'%2F%3E%3C%2Fsvg%3E");
  }

  &.tp-datepicker-icon-calendar {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D'1.2'%20baseProfile%3D'tiny'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2017%2018'%3E%3Cpath%20d%3D'M16%202h-2.5V1c0-.6-.5-1-1-1h-1c-.5%200-1%20.4-1%201v1h-4V1c0-.6-.5-1-1-1h-1c-.5%200-1%20.4-1%201v1H1c-.6%200-1%20.4-1%201v2h17V3c0-.6-.4-1-1-1zM0%2017c0%20.5.4%201%201%201h15c.5%200%201-.5%201-1V6H0v11zm11-9h3v2h-3V8zm0%203h3v2h-3v-2zm0%203h3v2h-3v-2zM7%208h3v2H7V8zm0%203h3v2H7v-2zm0%203h3v2H7v-2zM3%208h3v2H3V8zm0%203h3v2H3v-2zm0%203h3v2H3v-2z'%20fill%3D'%23" + str-slice(ie-hex-str($tpDatepickerBrandColor), 4) + "'%2F%3E%3C%2Fsvg%3E");
  }

  &.tp-datepicker-icon-arrow {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D'1.2'%20baseProfile%3D'tiny'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2030.6%2024.6'%3E%3Cpath%20fill%3D'%23" + str-slice(ie-hex-str($tpDatepickerSecondColor), 4) + "'%20d%3D'M.6%2010.8l.2-.2%209.9-10c.8-.8%202.2-.8%203%200l.3.2c.8.8.8%202.2%200%203L7.9%2010h20.6c1.2%200%202.1%201%202.1%202.1v.3c0%201.2-1%202.1-2.1%202.1H7.9l6.2%206.2c.8.8.8%202.2%200%203l-.3.3c-.8.8-2.2.8-3%200L.8%2014l-.2-.2c-.8-.8-.8-2.2%200-3z'%2F%3E%3C%2Fsvg%3E");
  }
}
